<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<TestRunParameters>
		<Parameter name="testEnvironment" value="local" />
	    <Parameter name="SqlServer" value="localhost" />
		<Parameter name="userJourneyUrl" value="https://demoqa.com/" />
		<Parameter name="mockServerUrl" value="http://localhost:9090" />
	</TestRunParameters>
</RunSettings>
