<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<TestRunParameters>
		<!-- currently set to dev for api url that is only dev -->
		<Parameter name="testEnvironment" value="dev" />
	    <Parameter name="dbServer" value="localhost" />
		<Parameter name="localJourneyUrl" value="https://demoqa.com/" />		
	</TestRunParameters>
</RunSettings>
